*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 padding: 10px;
 margin: 10px auto;
 min-width: 400px;
}

div{
 cursor: pointer;
 position: relative;
}

h1{
 color: #5f9341;
 margin-bottom: 15px;
}

i{
 color: #5f9341;
 font-size: 42px;
 text-indent: 127px;
 position: absolute;
 top: -4px;
 }

input{
width: 99%;
padding: 13px;
margin-bottom: 7px;
border: 3px solid #5f9341;
border-radius: 3px;
outline: none;
font-size: 18px;
font-weight: 550;
color: #5f9341;
}

button{
 background-color: #5f9341;
 color: white;
 padding: 17px 27px;
 width: 185px;
 font-weight: bold;
 border: 3px solid #5f9341;
 border-radius: 5px;
 font-size: 17px;
}

ul{
 padding: 10px;
}

li{
 list-style: none;
 padding: 5px;
 font-size: 18px;
 font-weight: bold;
}

a{
 color: #5f9341;
}
